
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.home_img {
  background-image: url("../img/home_header.png");
  background-size: cover;
	background-position: center;
  height: 100vh;
  width: auto;
  display: none
}

header {
  background-color: #67c6cf;
  height: 100vh;
  /*width: auto;*/
  /*opacity: 0;*/
}


h1, h2, h3 {
  font-weight: 200;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
  /*margin:0 80px;*/
}

h1 {
  font-size: 120px;
  color: #3d5056;
}

h2{
  font-size: 80px;
  color: #3d5056;
}

h3 {
  font-size: 50px;
  text-align: left;
  z-index: 99;
  padding-top: 10px;
  margin-left: 80px;
  padding-bottom: 5px;
}

h3 a {
  text-decoration: none;
  color: #ffffff;
  transition: ease-out, 1s;
}

nav {
  z-index: 100;
  text-align: right;
  position: fixed;
  width: 100%;
}

nav ul {
  position: absolute;
  top: 0;
  right: 80px;
}

nav li {
  display: inline-block;
  padding-left: 30px;
}

nav li a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  justify-content: space-around;
  font-size: 22px;
  letter-spacing: 1px;
  position: relative;
  top: 10px;
  transition: ease-out, 1s;
}

nav a:hover {
  color: black;
  transition: ease-in, 1s;
}

h3 a:hover {
  opacity: .5;
}

img {
  width: 80%;
  height: auto;
}

.nav_load {
  color: #67c6cf;
  transition: ease-in, 2s;
}

.header_scroll {
  background-color: #ffcc99;
  height: 100vh;
  position: relative;
}

.ad {
  display: none;
  position: absolute;
  left: 0px;
  top: 30%;
  color: #ffffff;
  margin:0 100px;
}

.design {
  display: none;
  position: absolute;
  right: 0px;
  top: 48%;
  color: #ffffff;
  margin:0 100px;
}

.work {
  background-color: #f4f3f3;
}

.work h1 {
  padding-top: 30px;
}

#work_h1 {
  display: none;
}

.one, .two, .three {
  margin:0 150px;
  position: relative;
  /*height: 100vh;*/
  min-height: 700px;
  padding-top: 70px;
}

.one-info, .three-info {
  z-index: 90;
  position: absolute;
  /*margin-bottom: 0px;*/
}

.one img, .three img {
  z-index: 89;
  position: absolute;
  right: 0px;
  margin-bottom: 0px;
}

.two-info {
  z-index: 90;
  position: absolute;
  right: 0px;
  width: 30%;
  /*margin-bottom: 0px;*/
}

.two img {
  z-index: 89;
  position: absolute;
  left: 0px;
}

.right li, .right h2 {
  text-align: left;
  list-style: none;
}

.left li, .left h2 {
  text-align: right;
  list-style: none;
}

.work-details li {
  padding: 4px;
}

.right ul {
  padding-left: 5px;
  margin-top: 0;
  max-width: 50%;
}

.left ul {
  /*position: absolute;*/
  text-align: right;
  /*max-width: 50%;*/
}

.info {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #2b3031;
}

.hello {
  background-color: #5acab1;
  height: 100vh;
  overflow: auto;
}

.hello h1 {
  color: #ffffff;
  padding-top: 15%;
}

.hello p {
  margin:0 350px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

.social-links {
  display: block;
  text-align: center;
  border-radius: 50%;
}

.social {
  width: 50px;
  height: auto;
  display: inline-block;
  text-align: center;
  margin:  20px;
  transition: all, .5s;
  /*border-radius: 50%;*/
}

 .social:hover{
  -webkit-transform: scale(0.85);
  	-moz-transform: scale(0.85);
  	-ms-transform: scale(0.85);
  	transform: scale(0.85);
    transition: all, .5s;
}
